.custom-text,
a {
    font-weight: 500
}

.accordion-button,
nav a {
    text-decoration: none
}

#introduction-page,
#projects figcaption,
#projects figure,
.accordion-header,
.contents h3,
.contents p,
.exp-buttons,
.headline,
.review-content>p,
.user,
footer,
h2,
header {
    text-align: center
}

* {
    font-family: Outfit, sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none !important
}

.logo {
    max-width: 150px
}

hr {
    border: 1px solid #cccccc69
}

body {
    width: 100%;
    background-color: #a8dadc !important
}

.offcanvas {
    width: 300px !important
}

.button-ahref,
button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 1em;
    background-color: #3c63cd;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 7px
}

#reviews,
header {
    padding: 10px 25px
}

#introduction-page,
#jumbotron,
#projects,
header {
    background-color: #fff
}

#cta-banner,
footer {
    background-color: #212529
}

h1,
h1 a {
    color: #212529
}

.button-ahref::after,
button::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-box-arrow-up-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5'%3E%3C/path%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z'%3E%3C/path%3E%3C/svg%3E")
}

.dropdown-item::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%233c63cd' class='bi bi-box-arrow-up-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5'%3E%3C/path%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z'%3E%3C/path%3E%3C/svg%3E")
}

.dropdown-item:hover {
    scale: 101%;
    transition: .5s
}

#introduction-page .button-ahref::after,
#jumbotron button::after,
.btn-close::after,
.modal-header button::after,
footer button::after,
nav .btn::after {
    content: none !important
}

.modal-header button,
.modal-header button:hover,
footer button,
footer button:hover {
    background-color: transparent !important;
    display: default
}

.button-ahref:hover,
.nav-item:last-of-type>a:hover,
button:hover {
    transform: scale(1.02);
    cursor: pointer;
    transition: .3s;
    background-color: #27187e;
    color: #fff
}

header {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    gap: 20px;
    transition: background-color .3s
}

#navbar.sticky {
    background-color: #161b33 !important
}

#navbar.sticky .navbar-toggler>span,
#navbar.sticky h1,
#navbar.sticky h1>span,
#navbar.sticky li a,
#navbar.sticky nav .btn {
    color: #fff
}

#navbar.sticky li:last-child a {
    border: 2px solid #fff;
    background-color: transparent
}

#navbar.sticky li:last-child a:hover {
    background-color: #fff;
    color: #212529
}

#navbar.sticky h1 a,
.user>h3 {
    color: #fff !important
}

h1 {
    font-weight: 500 !important;
    font-size: 1.3em !important;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 250px;
    margin-left: -32px
}

.custom-text,
h2,
h3 {
    color: #212529 !important
}

h1>span {
    font-size: .5rem !important
}

h2 {
    font-size: 2.7em !important;
    padding: 10px 5px
}

h3 {
    font-size: 1.5em !important
}

.custom-text,
p {
    font-size: 1.1em !important
}

.custom-text {
    padding: 0 !important;
    margin: 0 !important
}

.headline,
footer {
    color: #fff;
    width: 100%
}

.contents,
.exp>div {
    padding: 20px;
    gap: 1em;
    background-color: #ffffffdd;
    box-shadow: 0 0 5px #4e4e4e3a;
    display: flex
}

nav li {
    list-style: none
}

nav a {
    color: #495057
}

#blog {
    margin-right: 50px
}

nav li:last-child a {
    border: 1px solid #3c63cd;
    padding: 5px 15px;
    border-radius: 25px;
    color: #fff;
    background-color: #3c63cd
}

#about,
.contents,
.exp,
.exp>div {
    border-radius: 10px
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 2em;
    padding: 0 10px
}

nav ul a:first-of-type:hover,
nav ul a:nth-of-type(2):hover {
    transition: .3s;
    color: #3c63cd
}

nav .btn {
    font-size: 1.3em
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em
}

#introduction-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

#introduction-page h2 {
    font-size: 3.5em !important;
    margin: 0;
    padding: 0
}

#introduction-page p {
    font-size: 1.8em !important
}

#introduction-page img {
    max-width: 50%;
    margin-bottom: 50px
}

#introduction-page div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

#introduction-page .buttons {
    display: flex;
    flex-flow: wrap;
    width: 75%
}

#introduction-page button {
    border-radius: 5px
}

#about {
    padding: 10px;
    width: 95%
}

#about figure img:nth-child(2),
.exp:nth-of-type(2) img {
    max-width: 100px
}

#about figure img:nth-child(3),
.exp:nth-of-type(3) img {
    max-width: 180px
}

#about figure {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: .8
}

.contents {
    flex: 0 0 60%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start
}

.contents p {
    width: 70%;
    margin-bottom: 2em;
    color: #4e4e4e
}

#experiences {
    width: 95%;
    display: flex;
    gap: .5em
}

.exp {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .7em
}

.exp>div {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap
}

.exp>div>div img {
    margin-bottom: 15px;
    max-width: 150px
}

.exp .button-ahref {
    height: 50px
}

.exp-headline span {
    font-size: .9em
}

.accordion-button .button-text {
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 0 !important
}

.accordion-body .list-group>li .button-ahref {
    width: 170px
}

.accordion-body iframe {
    scale: 90%
}

#projects {
    width: 100%
}

#projects figure {
    display: block;
    flex: 0 0 65%
}

#projects figcaption {
    margin-top: 15px;
    font-size: small
}

#projects figure img {
    box-shadow: 0 0 10px #4e4e4e3a;
    max-width: 90%
}

.myprojects {
    display: flex;
    flex-wrap: wrap
}

#sidebar video {
    border: none;
    clip-path: inset(1px 1px)
}

#sidebar-accordion,
#sidebar-accordion-contacts {
    flex: 0 0 35%;
    align-self: flex-start;
    width: 350px;
    border-radius: 20px
}

#sidebar-accordion img {
    max-width: 50%
}

#sidebar-accordion .accordion-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px
}

#sidebar-accordion .accordion-body span,
.exp-buttons span {
    font-size: small;
    margin-top: -15px;
    color: #4e4e4e
}

#sidebar .accordion-body p,
#sidebar-contacts .accordion-body p {
    font-size: 1em !important;
    text-align: left;
    width: 87%;
    margin-bottom: 5px
}

#sidebar-accordion .accordion-button,
#sidebar-accordion-contacts .accordion-button {
    text-decoration: none;
    background-color: #3c63cd !important
}

#sidebar-accordion .accordion-header .button-text,
#sidebar-accordion-contacts .accordion-header .button-text {
    color: #fff !important;
    margin: 0 !important
}

#sidebar-accordion-contacts .list-group li:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#sidebar-accordion-contacts .list-group span {
    font-size: small;
    color: #4e4e4e
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #ffffffdd;
    border-radius: 10px;
    padding: 0 0 10px;
    box-shadow: 0 0 5px #4e4e4e3a;
    width: 450px
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #3c63cd;
    padding-top: 10px;
    border-bottom: 5px solid #27187e;
    box-shadow: 0 0 5px #4e4e4e3a
}

.user {
    align-items: center;
    display: flex;
    flex-direction: column
}

.user p {
    font-size: .8em !important;
    margin-top: -7px
}

.review-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px #4e4e4e3a;
    height: 100%
}

#reviews {
    display: flex;
    gap: 1em;
    margin: 30px 10px 90px
}

#reviews figure {
    height: 100%
}

.review-content>p {
    font-size: 1rem !important
}

#jumbotron h2,
.review-overview h2 {
    text-align: left !important
}

.headline img {
    max-width: 60px;
    border-radius: 50px;
    border: 5px solid #ffffffdd
}

.user img {
    border: none;
    max-width: 120px
}

.review-overview {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center
}

.review-overview>div:first-child {
    background-color: #ffffffdd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px #4e4e4e3a
}

#cta-banner {
    width: 100%;
    margin-bottom: -70px;
    overflow: visible
}

#jumbotron {
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    padding: 20px 50px;
    display: flex;
    align-items: start;
    gap: 20px;
    justify-content: space-between;
    width: 95%;
    border-radius: 10px;
    box-shadow: 0 0 7px #4e4e4e3a;
    flex-wrap: wrap
}

#jumbotron h2 {
    color: #3c63cd !important
}

#jumbotron button {
    font-size: 1.4em !important;
    padding: 10px 30px;
    border-radius: 5px
}

.jumbotron-text {
    flex: 0 0 70%
}

.jumbotron-cta {
    margin: auto 0
}

footer {
    padding: 70px 20px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    overflow-y: visible;
    margin-top: 53px
}

.social-links {
    display: flex;
    justify-content: space-around;
    gap: 2.5em;
    flex-wrap: wrap
}

footer p {
    font-size: .9em !important
}

footer .social-links-a {
    margin-bottom: 25px;
    scale: 110%;
    color: #fff !important
}

footer .social-links-a:hover {
    scale: 125%;
    transition: .5s;
    border-radius: 100%;
    box-shadow: 0 0 5px #fff
}

@media screen and (max-width:300px) {
    #introduction-page img {
        max-width: 200px !important
    }

    h1 {
        font-size: 1.2em !important
    }

    header {
        flex-wrap: nowrap !important
    }
}

@media screen and (max-width:420px) {
    #sidebar-accordion {
        width: 100% !important
    }

    #about figure {
        flex-direction: column !important;
        justify-content: flex-start;
        gap: 1em
    }
}

@media screen and (max-width:670px) {
    #jumbotron {
        text-align: center;
        align-items: center
    }

    .jumbotron-text {
        text-align: center;
        margin: 0 auto;
        flex: 0 0 100%
    }

    .jumbotron-cta {
        margin: 0 auto
    }
}

@media screen and (max-width:768px) {
    #experiences {
        flex-wrap: wrap
    }

    .myprojects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em
    }

    #sidebar-accordion {
        width: 75%;
        margin: 0 auto
    }

    #introduction-page h2,
    h2 {
        font-size: 2.2em !important
    }

    #introduction-page p {
        font-size: 1.4em !important
    }
}

@media screen and (max-width:900px) {
    #jumbotron {
        flex-direction: column;
        align-items: center !important
    }

    #jumbotron h2 {
        text-align: center !important
    }

    .jumbotron-cta,
    .jumbotron-text {
        flex: 0 0 100% !important
    }
}

@media screen and (max-width:960px) {
    #reviews {
        flex-wrap: wrap;
        justify-content: center
    }

    .review-overview {
        flex: 0 0 100%
    }

    #introduction-page img {
        max-width: 100%
    }
}

@media screen and (min-width:980px) {

    nav .btn,
    nav .btn-close {
        display: none
    }
}

@media screen and (max-width:980px) {
    nav ul {
        align-items: flex-start !important;
        padding: 20px 70px !important;
        justify-content: center !important;
        height: 500px
    }

    nav ul li a {
        font-size: 1.4em !important;
        color: #3c63cd !important;
        font-weight: 500 !important
    }

    .nav-item:last-of-type>a {
        border: none;
        padding: 0;
        background-color: transparent !important
    }
}